<h1>Welcome <%= current_user.name %> to Angular Rails DMS Application</h1>

<div class="row">
  <div class="col-lg-12 mrgtop20">
    <%= link_to "Sign Out", destroy_user_session_path, method: 'delete' %>
  </div>
</div>

<div class="row">
  <div class="col-lg-4 mrgtop20">
    <%= form_for @upload, html: {multipart: true} do |f| %>
      <%= f.file_field :file, class: "from-control" %>
      <%= (flash[:error] || flash[:success]) if @upload.errors.present? %><br>
      Select Users to share with:
      <%= select_tag "users[]", options_for_select(@all_users), class:"select_users form-control", multiple:"multiple" %>
      <br><br>
      <%= f.submit :upload, class: "btn btn-primary btn-sm" %>
    <% end %>
  </div>
</div>
<div class="share-multiple-doc-section">
  <%= render partial: 'share_multiple_doc_form', locals: {all_users: @all_users, user_documents: @user_documents} %>
</div>

<div class="row">
  <div class="col-lg-12 mrgtop20">

    <div role="tabpanel">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#my" aria-controls="home" role="tab" data-toggle="tab">My Documents</a></li>
        <li role="presentation"><a href="#shared" aria-controls="profile" role="tab" data-toggle="tab">Shared with Me</a></li>
      </ul>

      <div ng-app="angular-rails-dms.exampleApp" ng-controller="WelcomeController">
      <!-- Tab panes -->
      <div class="tab-content">
        <!-- My Files -->
        <div role="tabpanel" class="tab-pane fade in active" id="my">
          <div class="pull-right">
            <span aria-hidden="true"></span> <input ng-model="searchText" placeholder="Search Document">
          </div>
          <br><br><br><br>
          <div class="row">
            <div class="col-xs-6 col-md-3" ng-repeat="x in my_documents | filter:searchText">
              <div class="thumbnail">
                <a ng-href="{{x.original_url}}">
                  <div class="previewHeightcontainer">
                    <img ng-attr-id="file-{{x.id}}" src="{{x.thumb_url}}" class="previewHeight"/>
                  </div>
                  <div class="caption">
                    <p><h5>{{ x.name }}</h5></p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- Shared With Me -->
        <div role="tabpanel" class="tab-pane fade" id="shared">
          <div class="pull-right">
            <span aria-hidden="true"></span> <input ng-model="searchText" placeholder="Search Document">
          </div>
          <br><br><br><br>
          <div class="row">
            <div class="col-xs-6 col-md-3" ng-repeat="x in shared_documents | filter:searchText">
              <div class="thumbnail">
                <a ng-href="{{x.original_url}}">
                  <div class="previewHeightcontainer">
                    <img ng-attr-id="file-{{x.id}}" src="{{x.thumb_url}}" class="previewHeight"/>
                  </div>
                  <div class="caption">
                    <p><h5>{{ x.name }}</h5></p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

<script>
    $(".select_users").select2();
    $(".select_documents").select2();
</script>